html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a-scene {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; /* luego JS ajusta a innerHeight */
    background: transparent;
}

/* Overlay HTML */
#info-card {
  display: block;
  opacity: 0;           /* invisible al inicio */
  width: 300px;
  height: 200px;
  background: white;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

